:root {
    --color-lava-accent: #B13A10;
    --color-lava-accent: #ec3f00;
    --color-lava-dim: #8a300f;
}

html {
    scroll-behavior: smooth;
}

.text-lava {
    color: var(--color-lava-accent);
}

.bg-lava{
    color: #f0f0f0;
    background-color: var(--color-lava-dim);
}

.col-custom-2-5 {
    flex: 0 0 20%;
    max-width: 20%;
}

.col-custom-2-2 {
    flex: 0 0 19%;
    max-width: 19%;
}

.col-custom-9-5 {
    flex: 0 0 80%;
    max-width: 80%;
}

.accordion-button:not(.collapsed){
    background-color: #ffffff23;
    color: #f0f0f0;
}

.link-lava{
    text-decoration: none;
    color: var(--color-lava-accent);
}

code{
    color: var(--color-lava-accent);
    border: #f0f0f09a solid 1px;
    padding: 2px 4px;
    border-radius: 3px;
}