:root {
    --color-lava-accent: #B13A10;
    --color-lava-accent: #ec3f00;
    --color-lava-dim: #8a300f;
}

.hljs{
    background: #15171E !important;
}

.hljs-comment{
    color: #818791 !important;
}

img{
    border-radius: 5px; 
}

html {
    scroll-behavior: smooth;
}

.text-lava {
    color: var(--color-lava-accent);
}

.bg-lava{
    color: #f0f0f0;
    background-color: var(--color-lava-dim);
}

.col-custom-2-5 {
    flex: 0 0 20%;
    max-width: 20%;
}

.col-custom-2-2 {
    flex: 0 0 19%;
    max-width: 19%;
}

.col-custom-9-5 {
    flex: 0 0 80%;
    max-width: 80%;
}

.accordion-button:not(.collapsed){
    background-color: #ffffff23;
    color: #f0f0f0;
}

.link-lava{
    text-decoration: none;
    color: var(--color-lava-accent);
}

code{
    color: var(--color-lava-accent);
    border: #f0f0f09a solid 1px;
    padding: 2px 4px;
    border-radius: 3px;
}

code::-webkit-scrollbar {
    width: 8px; /* Adjust width for vertical scrollbar */
    height: 8px; /* Adjust height for horizontal scrollbar */
}

/* Track (background of the scrollbar) */
code::-webkit-scrollbar-track {
    border-radius: 10px; /* Rounded corners */
}

/* Thumb (scrolling element) */
code::-webkit-scrollbar-thumb {
    background: #888; /* Dark gray color */
    border-radius: 10px; /* Rounded corners */
}

/* Thumb hover state */
code::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker gray on hover */
}